@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";


/* Apply the font globally */
body {
  font-family: 'Poppins', sans-serif;
}

.tiro-tamil-regular {
  font-family: "Tiro Tamil", serif;
  font-weight: 400;
  font-style: normal;
}

.tiro-tamil-regular-italic {
  font-family: "Tiro Tamil", serif;
  font-weight: 400;
  font-style: italic;
}

.tiro-tamil-bold {
  font-family: "Tiro Tamil", serif;
  font-weight: 700;
  font-style: normal;
}

.coiny-regular {
  font-family: "Coiny", cursive;
  font-weight: 400;
  font-style: normal;
}

.coiny-bold {
  font-family: "Coiny";
  font-weight: 700;
  font-style: normal;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Coiny', cursive;
}
.font-coiny {
    font-family: 'Coiny', cursive;
  }
  
  .font-tiro-tamil {
    font-family: 'Tiro Tamil', serif;
  }

 